<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style_ordi.css">
	<link rel="stylesheet" type="text/css" href="css/style_sp_tab.css">
	<link rel="stylesheet" href="fonts/web-fonts-with-css/css/fontawesome-all.min.css">
	<meta name="viewport" content="width=device-width"/>
	<title>PlacesToVisit - Save Your Dreams</title>
	<meta name="description" content="PlacesToVisit vous permet d'enregistrer les lieux naturels, urbains et culturels où vous rêvez d'aller !">
</head>

<body>
	<!--En-tête / Navigation-->
	<header id="head_PTV">
		<nav id="nav_title">
			<div id="logo_title">
				<a href="./index.html"><img src="img/logo.png" alt="logo PlacesToVisit"></a>
				<h1><a href="./index.html">PlacesToVisit</a></h1>
			</div>
	
			<div id="menu_nav">

				<input class="check_hamb" type="checkbox" />
				<i class="fas fa-times"></i>
				<i class="fas fa-bars"></i>

				<ul id="menu">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./MyPlacesToVisit.html">My Places</a></li>
					<li><a href="./PlacesToVisitItemForm.html">New Places</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div id="error_msg">
    	<h1 class="error_oops">Oops!</h1>
    	<div class="err_msg">
    		<h2>This is embarrassing!&#128532; Please contact our support! &#128591;</h2>
    	</div>
	</div>
	
	<footer class="footer_form">

		<div class="footer_box">

			<div class="footer_contact">
		 	 <h3>Contact</h3>		
				<a class="footer_btn" href="mailto:jenkinsboomers@gmail.com">Email Us</a>
			</div>
		
			<div class="social_media">
				<h3 class="footer_title1">Share your list with your Friends</h3>	
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-google"></i></a>
			</div>

			<div class="legal_terms">
				<h3 class="footer_title2">Legal</h3>
				<ul class="footer_ul">	
					<li class="footer_li"><a href="#">Privacy Policy</a></li>
					<li class="footer_li"><a href="#">Terms of Use</a></li>
					<li class="footer_li"><a href="#">Sitemap</a></li>
				</ul>
			</div>
		</div>
	</footer>
		
</body>
</html>