<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style_ordi.css">
	<link rel="stylesheet" type="text/css" href="css/style_sp_tab.css">
	<link rel="stylesheet" href="fonts/web-fonts-with-css/css/fontawesome-all.min.css">
	<meta name="viewport" content="width=device-width"/>
	<title>PlaceToVisit - Save Your Dreams</title>
	<meta name="description" content="PlaceToVisit vous permet d'enregistrer les lieux naturels, urbains et culturels où vous rêvez d'aller !">
</head>

<body>

	<!--En-tête / Navigation-->
	<header id="head_PTV">
		<nav id="nav_title">
			<div id="logo_title">
				<a href="./home.html"><img src="img/logo.png" alt="logo PlaceToVisit"></a>
				<h1><a href="./home.html">PlaceToVisit</a></h1>
			</div>
	
			<div id="menu_nav">

				<input class="check_hamb" type="checkbox" />
				<i class="fas fa-times"></i>
				<i class="fas fa-bars"></i>

				<ul id="menu">
					<li><a href="./home.html">Home</a></li>
					<li><a href="./MyPlaceToVisit.html">My Places</a></li>
					<li><a href="./PlaceToVisitItemForm.html">New Places</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		<h2 id="title_tab">My Places</h2>
		<div class="nb_places">
			Number of places to visit: <span th:text="${numberOfPlaces}"></span>
		</div>
		<br>

		<table class="tab">
			<thead class="tab_head">
				<tr>
					<th class="text_head1">Place</th>
					<th class="text_head2">Country</th>
					<th class="text_head3">Price</th>
					<th class="text_head4">Priority</th>
					<th class="text_head5">Description</th>
					<th class="text_head6"></th>
				</tr>
			</thead>
			<tbody>
				<tr id="tab_body" th:each="placetovisitItem : ${placetovisitItem}">
					<td th:text="${placetovisitItem.place}">Cathédrale de Strasbourg</td>
					<td th:text="${placetovisitItem.country}">France</td>
					<td th:text="${placetovisitItem.price}">15</td>
					<td th:text="${placetovisitItem.priority}">High</td>
					<td th:text="${placetovisitItem.comment}">It's beautiful</td>
					<td><a href="#" class="btn_update" role="button" 
					th:href="@{/placetovisitItemForm(id=${placetovisitItem.id})}">Update</a></td>
				</tr>
			</tbody>
		</table>
	</div>
		<br>
		<hr>
		

	<iframe id="maps" src=""></iframe>
	
	<footer class="footer_other_pages">

		<div class="footer_box">

			<div class="footer_contact">
		 	 <h3>Contact</h3>		
				<a class="footer_btn" href="mailto:jenkinsboomers@gmail.com">Email Us</a>
			</div>
		
			<div class="social_media">
				<h3 class="footer_title1">Share your list with your Friends</h3>	
				<a><i class="fab fa-facebook-f"></i></a>
				<a><i class="fab fa-twitter"></i></a>
				<a><i class="fab fa-instagram"></i></a>
				<a><i class="fab fa-google"></i></a>
			</div>

			<div class="legal_terms">
				<h3 class="footer_title2">Legal</h3>
					
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Sitemap</a></li>
			</div>
		</div>
	</footer>
	
</body>
</html>