<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style_ordi.css">
	<link rel="stylesheet" type="text/css" href="css/style_sp_tab.css">
	<link rel="stylesheet" href="fonts/web-fonts-with-css/css/fontawesome-all.min.css">
	<meta name="viewport" content="width=device-width"/>
	<title>PlacesToVisit - Save Your Dreams</title>
	<meta name="description" content="PlacesToVisit vous permet d'enregistrer les lieux naturels, urbains et culturels où vous rêvez d'aller !">
</head>

<body>

	<!--En-tête / Navigation-->
	<header id="head_PTV">
		<nav id="nav_title">
			<div id="logo_title">
				<a href="./index.html"><img src="img/logo.png" alt="logo PlacesToVisit"></a>
				<h1><a href="./index.html">PlacesToVisit</a></h1>
			</div>
	
			<div id="menu_nav">

				<input class="check_hamb" type="checkbox" />
				<i class="fas fa-times"></i>
				<i class="fas fa-bars"></i>

				<ul id="menu">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./MyPlacesToVisit.html">My Places</a></li>
					<li><a href="./PlacesToVisitItemForm.html">New Places</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
		<h2 id="title_tab">My Places</h2>
		<div class="nb_places">
			Number of places to visit: <span th:text="${numberOfPlaces}"></span>
		</div>
		<br>

		<table class="tab">
			<thead class="tab_head">
				<tr>
					<th class="tab_lieu">Lieux</th>
					<th class="tab_date">A quel moment</th>
					<th class="tab_budget">Budget</th>
					<th class="description">Description</th>
					<th class="tab_update"></th>
				</tr>
			</thead>
			<tbody>
				<tr id="tab_body" th:each="placesToVisitItem : ${placesToVisitItems}">
					<td th:text=${placesToVisitItem.listLieu}> </td>
					<td th:text=${placesToVisitItem.date}> </td>
					<td th:text=${placesToVisitItem.budget}> </td>
					<td th:text=${placesToVisitItem.description}> </td>
					
					<td><a href="#" class="btn_update" role="button" 
					th:href="@{/placesToVisitItemForm(id=${placesToVisitItem.id})}">Update</a></td>
				</tr>
			</tbody>
		</table>
	</div>
		<br>
	
	<footer class="footer_list">

		<div class="footer_box">

			<div class="footer_contact">
		 	 <h3>Contact</h3>		
				<a class="footer_btn" href="mailto:jenkinsboomers@gmail.com">Email Us</a>
			</div>
		
			<div class="social_media">
				<h3 class="footer_title1">Share your list with your Friends</h3>	
				<a><i class="fab fa-facebook-f"></i></a>
				<a><i class="fab fa-twitter"></i></a>
				<a><i class="fab fa-instagram"></i></a>
				<a><i class="fab fa-google"></i></a>
			</div>

			<div class="legal_terms">
				<h3 class="footer_title2">Legal</h3>
					
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Sitemap</a></li>
			</div>
		</div>
	</footer>
	
</body>
</html>