<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style_ordi.css">
	<link rel="stylesheet" type="text/css" href="css/style_sp_tab.css">
	<link rel="stylesheet" href="fonts/web-fonts-with-css/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
	<meta name="viewport" content="width=device-width"/>
	<style type="text/css">
            #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
                height:275px;
                width: 600px;
                margin: auto;
            }
    </style>
	<title>PlacesToVisit - Save Your Dreams</title>
	<meta name="description" content="PlacesToVisit vous permet d'enregistrer les lieux naturels, urbains et culturels où vous rêvez d'aller !">
</head>

<body>

	<!--En-tête / Navigation-->
	<header id="head_PTV">
		<nav id="nav_title">
			<div id="logo_title">
				<a href="./index.html"><img src="img/logo.png" alt="logo PlacesToVisit"></a>
				<h1><a href="./index.html">Les villages en France</a></h1>
			</div>
	
			<div id="menu_nav">

				<input class="check_hamb" type="checkbox" />
				<i class="fas fa-times"></i>
				<i class="fas fa-bars"></i>

				<ul id="menu">
					<li><a href="./index.html">Accueil</a></li>
					<li><a href="./MyPlacesToVisit.html">Mes villages</a></li>
					<li><a href="./PlacesToVisitItemForm.html">Ajouter un lieu</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<section id="new_item">

		<div id="formulaire">
			<form class="form_field" action="#" method="post" th:action="@{/PlacesToVisitItemForm.html}" th:object="${placesToVisitItem}">
				<fieldset>
					<legend class="form_title">Choisir une destination</legend>
					<div>
						<label for="departement-select">Choisissez un lieu à découvrir :</label><br><br>
						
						<select onclick="this.form.listLieu.value=this.options[this.selectedIndex].text;"
						id="departement-select" name="departement" onchange="onChange()" size="1">
							<option id="vide"> </option>
							<label for="vide" class="vide"></label>
							<option value="02">02-AISNE - Parfondeval
							<option value="07">07-ARDECHE - Balazuc
							<option value="13">13-BOUCHES-DU-RHONE - Les Baux-de-Provence
							<option value="14">14-CALVADOS - Beuvron-en-Auge
							<option value="18">18-CHER - Aprement-sur-Allier
							<option value="21">21-COTE-D'OR - Châteauneuf
							<option value="24">24-DORDOGNE - Castelnaud-la-Chapelle
							<option value="30">30-GARD - Aigueze
							<option value="68">68-HAUT-RHIN - Eguisheim
							<option value="39">39-JURA - Baume-Les-Messieurs
							<option value="48">48-LOZERE - La Garde-Guérin
							<option value="49">49-MAINE-ET-LOIRE - Monstoreau
							<option value="53">53-MAYENNE - Sainte-Suzanne
							<option value="84">84-VAUCLUSE - Gordes
						</select>
						<input th:text="*{listLieu}" name="listLieu" type="hidden"/> 
			
						<div class="descri">
							<p id="commune-name"></p>
							<p id="description-text"></p> <!--th:text="*{description}"-->
						</div>
						
						<div>
							<label for="price-estimated">Votre budget pour ce séjour :</label>
							<input th:field="*{budget}" id="price-estimated" type="number" name="price-estimated" placeholder="Budget du séjour">
						</div>
						<div>
							<label for="priority">Séjour à réaliser :</label>
							
							<select onclick="this.form.date.value=this.options[this.selectedIndex].text;"
							id="priority" name="priority_date" size="1">
								<option> </option>
								<option value="7jours">Dans les 7 jours
								<option value="15jours">Dans les 15 jours
								<option value="1mois">Dans un mois
								<option value="6mois">Dans les 6 prochains mois
								<option value="1an">Dans un an
								<option value="avantlaretraite">Avant la retraite
								<option value="pendantlaretraite">Pendant la retraite
								<option value="simpleidee">Simple idée, pas de priorité
							</select>
							<input th:text="*{date}" name="date" type="hidden"/> 
						</div>
						<div>
							<label for="commentaire">Commentaire (optionnel) :</label>
							<input th:text="*{commentaire}" type="text" id="commentaire" name="commentaire" maxlength="200" size="30"/>
						</div>

					</div>
					<!-- 					<div>
                                            <label for="commune-select">Commune :</label>
                                            <select id="commune-select" name="commune">
                                                <optgroup reference="2">
                                                    <option value="2-1">PARFONDEVAL
                                                </optgroup>
                                                <optgroup reference="7">
                                                    <option value="7-1">BALAZUC
                                                </optgroup>
                                                <optgroup reference="13">
                                                    <option value="13-1">LES BAUX-DE-PROVENCE
                                                </optgroup>
                                                <optgroup reference="14">
                                                    <option value="14-1">BEUVRON-EN-AUGE
                                                </optgroup>
                                                <optgroup reference="18">
                                                    <option value="18-1">APREMENT-SUR-ALLIER
                                                </optgroup>
                                                <optgroup reference="21">
                                                    <option value="21-1">CHATEAUNEUF
                                                </optgroup>
                                                <optgroup reference="24">
                                                    <option value="24-1">CASTELNAUD-LA-CHAPELLE
                                                </optgroup>
                                                <optgroup reference="30">
                                                    <option value="30-1">AIGUEZE
                                                </optgroup>
                                                <optgroup reference="68">
                                                    <option value="68-1">EGUISHEIM
                                                </optgroup>
                                                <optgroup reference="39">
                                                    <option value="39-1">BAUME-LES-MESSIEURS
                                                </optgroup>
                                                <optgroup reference="48">
                                                    <option value="48-1">LA GARDE-GUERIN
                                                </optgroup>
                                                <optgroup reference="49">
                                                    <option value="49-1">MONTSOREAU
                                                </optgroup>
                                                <optgroup reference="53">
                                                    <option value="53-1">SAINTE-SUZANNE
                                                </optgroup>
                                                <optgroup reference="84">
                                                    <option value="84-1">GORDES
                                                    <option value="84-2">ROUSSILLON
                                                </optgroup>
                                            </select>
                    -->
                    
                    
					<!--  
					<div th:field="*{id}" id="btn_send">
						<input type="submit"
							value="Enregistrer dans mes futures destinations"
							class="btn_form" style="width: 350px">
					</div>
					-->
					<div class="submit_btn">
						<input type="hidden" th:field="*{id}"/>
						<button type="submit" class="btn btn_form" style="width: 350px">Enregistrer dans mes futures destinations</button>
					</div>
					
					<div id="map">
						<!-- La carte s'affichera ici -->
					</div>
				</fieldset>
			</form>
		</div>
	</section>
	
	<footer class="footer_form">

		<div class="footer_box">

			<div class="footer_contact">
		 	 <h3>Contact</h3>		
				<a class="footer_btn" href="mailto:jenkinsboomers@gmail.com">Email Us</a>
			</div>
		
			<div class="social_media">
				<h3 class="footer_title1">Partagez avec vos amis</h3>
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-google"></i></a>
			</div>

			<div class="legal_terms">
				<h3 class="footer_title2">Legal</h3>
				<ul class="footer_ul">	
					<li class="footer_li"><a href="#">Privacy Policy</a></li>
					<li class="footer_li"><a href="#">Terms of Use</a></li>
					<li class="footer_li"><a href="#">Sitemap</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="js/index.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
</body>
</html>